// @import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Poppins');

$main-font: 'Poppins', sans-serif;
$headline-font: 'Train One', serif;
$primary-color: rgb(51, 51, 51);


body {
    // width: 960px;
    padding: 25px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px auto 50px;
    grid-template-areas: 
        'header'
        'main'
        'footer';
    font-family: $main-font;
    font-size: small;
    background-color: #dfdfdf;
    border-style: solid;
}

#header {
    padding: 15px;
    grid-area: header;
    display: flex;
    align-items: center;
    border-style: dashed;
    color: white;
    background-color: #235a86;
}

h1 {
    font-family: $headline-font;
    font-size: 2.5em;
}

#content {
    padding: 15px;
    grid-area: main; 
    display: flex;
    flex-direction: column;
    border-style: dotted;
    background-image: url("/src/client/media/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
}

#enter-info {
    margin-bottom: 20;
    padding: 10px;
    background-color: rgb(231, 243, 253);
}

button {
    background-color: $primary-color;
    border: none;
    padding: 10px;
    margin: 20 0 15 0;
    border-radius: 4px;
    color: white;

}

#output-info {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

#trip-details {
    display: flex;
    flex-direction: column;
}

.info-box {
    display: flex;
    flex-flow: column wrap;
    // width: auto;
    border-style: double;
    
}

#photo-box {
    display: flex;
    flex-direction: column;
    // width: auto;
}

.info-header {
    font-family: $headline-font;
    text-align: left;
    background-color:#8ec2e0;
    padding: 10px;
}

.api-info {
    font: 50px bold;
    text-align: left;
    padding-left: 10px;
    background-color: rgb(209, 230, 255);
}

#trip-photo {
    border-style: double;
}

img {
    max-width: 100%;
    height: auto;
}

#footer {
    padding: 15px;
    grid-area: footer;
    background-color: #235a86;
    color: white;
}

/* Medium Screens */
@media (min-width: 600px) and (max-width:900px) {
    body {
        // width: 960px;
        padding: 25px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80px auto 50px;
        grid-template-areas: 
            'header'
            'main'
            'footer';
    }

    #output-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2em;
    }
}
  
/* Large Screens */
@media (min-width:901px) {
    body {
        // width: 960px;
        padding: 25px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80px auto 50px;
        grid-template-areas: 
            'header'
            'main'
            'footer';
    }

    #output-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2em;
    }

}